.about-me{
    margin-top: 100px;
    display: flex !important;
    justify-content: end !important;
    align-items: center !important;
}


.profile-containers {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
}
.profile-containers img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #3498db;
}

.qualification-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
.qualification-list li {
    background-color: #e9f5fb;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #3498db;
}

.icon {
    color: #ef5c32;
    font-size: 33px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .icon {
        font-size: 2px;
    }
}

@media (max-width: 480px) {
    .icon {
        font-size: 18px;
    }
}


.gallery-container {
    max-width: 1000px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.gallery-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.gallery-slide {
    min-width: 33.33%;
    overflow: hidden;
}

.gallery-slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .gallery-slide {
        min-width: 50%;
    }
}

@media (max-width: 576px) {
    .gallery-slide {
        min-width: 100%;
    }
}


.quote-container {
    background-color: black;
    margin: 50px auto;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.quote-container h1 {
    font-size: 24px;
    color: white;
}
.quote-container p {
    font-size: 18px;
    color:white;
}
@media (max-width: 768px) {
    .quote-container {
        padding: 50px 10px;
        font-size: smaller;
    }
    .quote-container h1 {
        font-size: 22px;
    }
    .quote-container p {
        font-size: 16px;
    }
}